// app/assets/stylesheets/application.scss

// Thay đổi từ @import 'bootstrap';
// Sửa thành đường dẫn tương đối (điều này chỉ hoạt động nếu bạn đang dùng trình biên dịch Sass/CSS hiện đại):
@import "bootstrap/scss/bootstrap";

/* Hoặc đôi khi chỉ cần: */
// @import "~bootstrap/scss/bootstrap";
/* universal 
*= require_tree .
*= require_self
*/
$light-gray: #777;
$gray-medium-light: #eaeaea;
$gray: #555;
$gray-darker: #222;
$gray-lighter: #ddd;
$state-danger-text: #a94442;

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}

/* typography */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $light-gray;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* header */
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    #logo:hover {
        color: #fff;
        text-decoration: none;
    }
}

/* footer */
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $gray-medium-light;
    color: $light-gray;
    a {
        color: $gray;
        &:hover {
            color: $gray-darker;
        }
    }
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 15px;
        }
    }
}

@media (max-width: 800px) {
    footer {
        small {
            display: block;
            float: none;
            margin-bottom: 1em;
        }
        ul {
            float: none;
            padding: 0;
            li {
                float: none;
                margin-left: 0;
            }
        }
    }
}

img {
    display: none;
}

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
// @mixin box_sizing {
//     -moz-box-sizing:    border-box;
//     -webkit-box-sizing: border-box;
//     box-sizing:         border-box;
// }
    
/* miscellaneous */
.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}

/* sidebar */
aside {
    section.user_info {
        margin-top: 20px;
    }
    section {
        padding: 10px 0;
        margin-top: 20px;
        &:first-child {
            border: 0;
            padding-top: 0;
        }
        span {
            display: block;
            margin-bottom: 3px;
            line-height: 1;
        }
        h1 {
            font-size: 1.4em;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 0px;
        }
    }
}

.gravatar {
    float: left;
    margin-right: 10px;
}
.gravatar_edit {
    margin-top: 15px;
}

/* forms */
input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input {
    height: auto !important;
}

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
        margin-left: 20px;
        font-weight: normal;
    }
}

#session_remember_me {
    width: auto;
    margin-left: 0;
}

#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .invalid-feedback;
    .form-control {
        color: $state-danger-text;
    }
}

/* Sign up form centering */
.row {
    display: flex;
    justify-content: center;
}

.col-md-6 {
    max-width: 500px;
    width: 100%;
}

.col-md-offset-3 {
    margin-left: 0;
}

/* Users index */
.users {
    list-style: none;
    margin: 0;
    li {
        overflow: auto;
        padding: 10px 0;
        border-bottom: 1px solid $gray-lighter;
    }
}