<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "sample app", root_path, id: "logo" %>
        <nav>
            <%= link_to "Home", root_path %>
            <%= link_to "Help", help_path %>
            <%= link_to "Login", "#" %>
        </nav>
    </div>
</header>